@import "../../node_modules/angular-material/angular-material.css"

html, body
  background: rgb(236,239,241)

ng-md-icon svg
  position: relative
  top: 6px

img.logo
  max-width 80%

#content
  width: 100%
  margin: 0 auto
  position: relative
  top: -60px
  z-index: 100

  h2
    color: #32c1d7;
    font-weight: 400;

@media(min-width: 1200px)
  #content
    max-width: 1200px

.no-text-transform
  text-transform: none

.announcements img
  max-width: 100%
  overflow: hidden